<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<div th:each="tariff : ${tariffs}">
    <a th:href="@{'/tariffs/' + ${tariff.id}}" th:text="${tariff.type+' '+tariff.price}">Tariff</a>
</div>
<br>
<form action="/tariffs/create" th:if="${#authentication.authorities[0].getAuthority() == 'ADMIN'}">
    <button type="submit">
        <span th:text="#{tariff.create}">Create</span>
    </button>
</form>
<br>
<div th:insert="~{fragment::back}"></div>

</body>
</html>