<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<form th:action="@{/cars}" enctype="multipart/form-data" method="post">
    <label for="model">Model:
        <input id="model" type="text" name="model" th:value="${car.model}">
    </label><br>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label><br>
    <div th:each="status : ${statuses}">
        <input id="status" type="radio" name="status" th:value="${car.status}">
        <label th:for="status" th:text="${status}">Status:</label>
    </div>
    <label for="engineVolume">Firstname:
        <input id="engineVolume" type="text" name="engineVolume" th:value="${car.carCharacteristic.engineVolume}">
    </label><br>
    <label for="transmission">Lastname:
        <input id="transmission" type="text" name="transmission" th:value="${car.carCharacteristic.transmission}">
    </label><br>
    <label for="dateRelease">Lastname:
        <input id="dateRelease" type="text" name="dateRelease" th:value="${car.carCharacteristic.dateRelease}">
    </label><br>
    <div th:each="type : ${types}">
        <input th:id="${type}" type="radio" name="type" th:value="${type}" th:checked="${type==car.carCharacteristic.type}">
        <label th:for="${type}" th:text="${type}">Type fuel:</label>
    </div>
    <button type="submit">Create</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>