<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<form th:action="@{/requests/{requestId}/calculate(requestId=${request.id})}">
    <label for="tariff"><span th:text="#{request.tariff}">Tariff:</span>
        <input id="tariff" type="text" name="tariff" th:value="${request.tariff.type}">
    </label><br>
    <label for="price"><span th:text="#{request.price}">Price:</span>
        <input id="price" type="text" name="price" th:value="${request.tariff.price}">
    </label><br>
    <label for="dateRequest"><span th:text="#{request.dateRequest}">Date request:</span>
        <input id="dateRequest" type="datetime-local" name="dateRequest" th:value="${request.dateRequest}">
    </label><br>
    <label for="dateReturn"><span th:text="#{request.dateReturn}">Date return:</span>
        <input id="dateReturn" type="datetime-local" name="dateReturn" th:value="${request.dateReturn}">
    </label><br>
    <label for="amount"><span th:text="#{request.amount}">Amount:</span>
        <input id="amount" type="text" name="amount" th:value="${amount}">
    </label><br>
</form>
<br>
<form action="/requests">
    <a href="/requests">
        <span th:text="#{general.requests}">Requests</span>
    </a>
</form>
<div th:insert="~{fragment::back}"></div>
</body>
</html>